<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="public/images/favicon.ico" />
        
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="public/stylesheets/index.css" rel="stylesheet" />
        
        <!-- Core theme JS-->
        <script src="../public/javascripts/script.js"></script>

        <title>Condologix</title>
    </head>
    
    <body id="page-top">

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-white" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">CONDOLOGIX</a> <!-- Updated href for root -->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li> <!-- Updated href for root -->
                        <li class="nav-item"><a class="nav-link" href="#services">SERVIÇOS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">DÚVIDAS</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li> <!-- Updated href for login -->
                    </ul>
                </div>
            </div>
        </nav>
        

        <!-- HeadLine-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">GANHE TEMPO COM A GESTÃO DE PACOTES NO SEU CONDOMÍNIO!</h1>
                        <hr class="divider divider-light" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Somos um sistema que em menos de 30 segundos registra e avisa o morador que sua encomenda chegou!</p>
                        <a class="btn btn-secondary btn-xl mx-2" href="">Entrar em contato</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Section - Sobre Nós-->
        <section class="page-section bg-primary py-6" id="problems"> 
            <div class="container px-4 px-lg-5">
                <h2 class="text-white text-center mt-0">SOBRE NÓS</h2>
                <hr class="divider divider-light" />
                <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
                    <div class="col-lg-10">
                        <div class="p-4 text-center">
                            <p class="text-white mt-4 mb-4 font-weight-bold-3">
                                Utilizamos inteligência artificial para identificar a residência de destino de
                                cada entrega e a partir daí, tudo se torna incrivelmente ágil e eficiente, nosso
                                sistema automaticamente cadastra a encomenda, atribui ao respectivo
                                condômino e envia uma notificação instantânea pelo WhatsApp, informando
                                sobre a chegada do pacote.
                            </p>
                            <p class="text-white mt-4 mb-4 font-weight-bold-3">
                                Isso não só elimina a necessidade de visitas à portaria para checar a entrega,
                                mas também proporciona uma comunicação direta e imediata com os
                                moradores, sem incomodá-los com ligações no interfone.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- Section - Estatísticas-->
        <div id="statistics">
            <div class="container-fluid p-0 bg-primary">
                <h2 class="text-white text-center mt-0">ESTATÍSTICAS</h2>
                <hr class="divider divider-light" />
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6 d-flex flex-column align-items-center justify-content-center text-center p-4">
                        <div class="display-1 text-white">80%</div>
                        <div class="text-white my-4">de diminuição no tempo gasto para
                            notificar os moradores sobre a
                            chegada de suas encomendas.</div>
                    </div>
                    <div class="col-lg-4 col-sm-6 d-flex flex-column align-items-center justify-content-center text-center p-4">
                        <div class="display-1 text-white">90%</div>
                        <div class="text-white my-4">de redução no tempo gasto pelo
                            porteiro para registrar as encomendas.
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 d-flex flex-column align-items-center justify-content-center text-center p-4">
                        <div class="display-1 text-white">100%</div>
                        <div class="text-white my-3">de redução na necessidade dos
                            moradores estarem
                            presentes no prédio para saberem da
                            chegada de pacotes.</div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Section - Como Funciona-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-dark text-center mt-0">COMO FUNCIONA?</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-camera fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Escanear</h3>
                            <p class="text-muted mb-0">Quando a encomenda chega, escaneie a etiqueta com a câmera do celular.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-phone fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Cadastrar</h3>
                            <p class="text-muted mb-0">Automaticamente nosso sistema irá
                                cadastrar a encomenda no sistema</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-whatsapp fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Notificar</h3>
                            <p class="text-muted mb-0">Após o cadastro o sistema automaticamente
                                notifica o morador via WhatsApp</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-check-all fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Confirmar</h3>
                            <p class="text-muted mb-0">Após a entrega a confirmação da entrega é
                                feita via WhatsApp pelo morador</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section - Vídeo Prático-->
        <section class="page-section">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center mt-3">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-dark">VEJA COMO NOSSO SISTEMA FUNCIONA NA PRÁTICA:</h2>
                        <hr class="divider divider-large" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mt-4">
                    <!-- Depoimento 1 -->
                    <div class="col-lg-5 col-md-6 mb-4">
                        <div class="card h-100 text-center shadow">
                            <div class="card-body">
                                <video class="w-100 rounded" controls>
                                    <source src="" type="video/mp4">
                                    Seu navegador não suporta o elemento de vídeo.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                
                <a class="btn btn-primary btn-xl mx-2" href="/try-it-out">Faça um teste você mesmo!</a> <!-- Updated href for testing page -->
            </div>
         </section>
         
         <!-- Section - Características-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-dark text-center mt-4">CARACTERÍSTICAS</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-bell fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Notificações Instantâneas</h3>
                            <p class="text-muted mb-0">Moradores são avisados imediatamente pelo WhatsApp.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-bullseye fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Precisão</h3>
                            <p class="text-muted mb-0">Rastreio e atribuição precisos das encomendas.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-box-seam fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Conveniência</h3>
                            <p class="text-muted mb-0">Gerenciamento remoto das entregas.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-file-earmark-lock2 fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Segurança Aprimorada</h3>
                            <p class="text-muted mb-0">Registros detalhados de todas as chegadas de pacotes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         
         <!-- Section - Sem Condologix-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-danger text-center mt-4">SEM A CONDOLOGIX</h2>
                <hr class="divider divider-red" />
                <div class="row gx-4 gx-lg-5 justify-content-around">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-hourglass-split fs-1 text-danger"></i></div>
                            <h3 class="h4 mb-2 text-danger">Processos Manuais</h3>
                            <p class="text-danger-1 mb-0">O processo manual de registro de
                                pacotes pode resultar em erros,
                                extravios e aumento da carga de
                                trabalho da equipe de porteiros.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-person-x fs-1 text-danger"></i></div>
                            <h3 class="h4 mb-2 text-danger">Inconveniência</h3>
                            <p class="text-danger-1 mb-0">Os residentes podem precisar interfonar
                                a portaria com frequência para verificar
                                as entregas ou o porteiro interfonar
                                diversas vezes no apartamento, o que
                                pode ser inconveniente e demorado.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-shield-exclamation fs-1 text-danger"></i></div>
                            <h3 class="h4 mb-2 text-danger">Riscos de Segurança</h3>
                            <p class="text-danger-1 mb-0">Rastreamento e documentação
                                manual dos pacotes podem
                                representar riscos e desafios de
                                segurança em caso de extravios
                                ou perda de itens.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         
         <!-- Section - Com Condologix-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-success text-center mt-4">COM A CONDOLOGIX</h2>
                <hr class="divider divider-green" />
                <div class="row gx-4 gx-lg-5 justify-content-around">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-speedometer2 fs-1 text-success"></i></div>
                            <h3 class="h4 mb-2 text-success">Trabalho Otimizado</h3>
                            <p class="text-success-1 mb-0">A portaria não irá precisar mais usar o
                                interfone, cadastrar as encomendas e
                                coletar assinaturas nos cadernos, o
                                nosso sistema cuida de tudo isso, assim
                                o porteiro tem mais tempo para
                                executar sua principal função.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-emoji-smile fs-1 text-success"></i></div>
                            <h3 class="h4 mb-2 text-success">Conveniência</h3>
                            <p class="text-success-1 mb-0">Os moradores recebem notificações
                                instantâneas no WhatsApp e podem
                                gerenciar suas entregas remotamente,
                                aumentando a comodidade e reduzindo
                                ligações desnecessárias da portaria.
                                </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-shield-check fs-1 text-success"></i></div>
                            <h3 class="h4 mb-2 text-success">Precisão e Segurança</h3>
                            <p class="text-success-1 mb-0">O software garante rastreamento e
                                atribuição precisos de pacotes,
                                minimizando erros e confusões. Dessa
                                forma, oferecendo mais segurança para
                                todos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section - Para Quem?-->
        <section class="page-section bg-primary py-6" id="problems"> 
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="text-white text-center mt-0">PARA QUEM É?</h2>
                <hr class="divider divider-light" />
                <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
                    <div class="col-lg-6 text-center">
                        <p class="text-white mt-4 mb-4 font-weight-bold-2">
                            Condologix é ideal para condomínios residenciais que desejam modernizar e otimizar a gestão de pacotes, proporcionando notificações instantâneas e segurança aprimorada aos moradores.
                        </p>
                    </div>
                </div>
                <a class="btn btn-secondary btn-xl mx-2" href="">Entrar em contato</a>
            </div>
        </section>

        <!-- Section - Cases-->
        <section class="page-section">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center mt-3">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-dark">O QUE NOSSOS CLIENTES DIZEM:</h2>
                        <hr class="divider divider-large" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mt-4">

                    <!-- Depoimento 1 -->
                    <div class="col-lg-5 col-md-6 mb-4">
                        <div class="card h-100 text-center shadow">
                            <div class="card-body">
                                <img src="public/images/Maria S.png" class="rounded-circle mb-3 costumer-img" alt="Maria S.">
                                <h5 class="card-title">Maria S., Moradora</h5>
                                <p class="card-text">"A Condologix mudou nossa rotina! Recebo minhas encomendas rapidamente e sem complicações."</p>
                            </div>
                        </div>
                    </div>

                    <!-- Depoimento 2 -->
                    <div class="col-lg-5 col-md-6 mb-4">
                        <div class="card h-100 text-center shadow">
                            <div class="card-body">
                                <img src="public/images/Carlos P.jpg" class="rounded-circle mb-3  costumer-img" alt="Carlos P.">
                                <h5 class="card-title">Carlos P., Síndico</h5>
                                <p class="card-text " id="login-anchor">"Finalmente uma solução que reduz o trabalho dos porteiros e aumenta a segurança dos moradores"</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-xl mx-2" href="">Entrar em contato</a>
            </div>
         </section>

        <!-- Section - Dúvidas-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center mt-5">
                        <h2 class="mt-0">DÚVIDAS FREQUENTES:</h2>
                        <hr class="divider" />
                        <div class="text-center">
                            <ol>
                                <li class="mb-4 font-weight-bold-2">
                                    <p>Preciso instalar algum aplicativo?</p>
                                    <p class="font-weight-bold-1">Não, usamos apenas o WhatsApp para notificações.</p>
                                </li>
                                <li class="mb-4 font-weight-bold-2">
                                    <p>Como a Condologix garante a segurança dos dados?</p>
                                    <p class="font-weight-bold-1">Estamos em conformidade com a LGPD, protegendo os dados confidenciais dos moradores.</p>
                                </li>
                                <li class="mb-4 font-weight-bold-2">
                                    <p>A ferramenta é difícil de usar?</p>
                                    <p class="font-weight-bold-1">Não, é muito simples. Basta escanear a etiqueta com a câmera do celular e nosso sistema faz o resto.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted"><p>Copyrights &copy; 2024 All Rights Reserved by <a href="">WeDevelops</a></p></div></div>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    </body>
</html>
